p{
    margin:0;padding-top: 0;
    margin-left: 20px;
}
form{
    width: 75%;
    margin: 0 auto;
    border: 2px solid black;
}
.align_left{
    margin-left: 20px;
}
.underline{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: green;
}
#c3{
    position: absolute;
    left: 21%;
}
#c2{
    position: absolute;
    right: 14%;
}
#c1{
    position: absolute;
    left: 51%;
}
#c0{
    margin-left: 10px;
}